<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyd.zmhkmiddleware.business.mapper.EtEmplBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyd.zmhkmiddleware.business.model.local.po.EtEmplBank">
        <id column="ZHREMPL" property="zhrempl" />
        <result column="BANK_ID" property="bankId" />
        <result column="ZPOSTTY" property="zpostty" />
        <result column="LAND1" property="land1" />
        <result column="ZBANKA" property="zbanka" />
        <result column="BANKL" property="bankl" />
        <result column="ZBANKN" property="zbankn" />
        <result column="KOINH" property="koinh" />
        <result column="ZMAIN" property="zmain" />
        <result column="ZDEL_BK" property="zdelBk" />
        <result column="ZATTR1_BK" property="zattr1Bk" />
        <result column="ZATTR2_BK" property="zattr2Bk" />
        <result column="ZATTR3_BK" property="zattr3Bk" />
        <result column="ZATTR4_BK" property="zattr4Bk" />
        <result column="ZATTR5_BK" property="zattr5Bk" />
        <result column="ZATTR6_BK" property="zattr6Bk" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZHREMPL, BANK_ID, ZPOSTTY, LAND1, ZBANKA, BANKL, ZBANKN, KOINH, ZMAIN, ZDEL_BK, ZATTR1_BK, ZATTR2_BK, ZATTR3_BK, ZATTR4_BK, ZATTR5_BK, ZATTR6_BK
    </sql>

</mapper>
