<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyd.zmhkmiddleware.business.mapper.EtEmplBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyd.zmhkmiddleware.business.model.local.po.EtEmplBasic">
        <id column="ZEMPL" property="zempl" />
        <result column="ZHREMPL" property="zhrempl" />
        <result column="ZEMPLNM" property="zemplnm" />
        <result column="REF_POSTA" property="refPosta" />
        <result column="ZXB" property="zxb" />
        <result column="GBDAT" property="gbdat" />
        <result column="ZPHONENO" property="zphoneno" />
        <result column="ZTELNO" property="ztelno" />
        <result column="ZZJGJ" property="zzjgj" />
        <result column="ZZJLX" property="zzjlx" />
        <result column="ZZJHM" property="zzjhm" />
        <result column="ZEMAIL" property="zemail" />
        <result column="ZSTAS_E" property="zstasE" />
        <result column="ZYGLX" property="zyglx" />
        <result column="ZHIRE_DT" property="zhireDt" />
        <result column="ZLEAVE_DT" property="zleaveDt" />
        <result column="ZBU" property="zbu" />
        <result column="ZDEL" property="zdel" />
        <result column="ZATTR1" property="zattr1" />
        <result column="ZATTR2" property="zattr2" />
        <result column="ZATTR3" property="zattr3" />
        <result column="ZATTR4" property="zattr4" />
        <result column="ZATTR5" property="zattr5" />
        <result column="ZATTR6" property="zattr6" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ZEMPL, ZHREMPL, ZEMPLNM, REF_POSTA, ZXB, GBDAT, ZPHONENO, ZTELNO, ZZJGJ, ZZJLX, ZZJHM, ZEMAIL, ZSTAS_E, ZYGLX, ZHIRE_DT, ZLEAVE_DT, ZBU, ZDEL, ZATTR1, ZATTR2, ZATTR3, ZATTR4, ZATTR5, ZATTR6
    </sql>

    <select id="countSync" resultType="java.lang.Long">
        <if test="syncStatus == true">
            select count(1) from et_empl_basic left join synchronization_record on et_empl_basic.zhrempl = synchronization_record.bussiness_id
            where synchronization_record.type = #{type} and synchronization_record.sync_status = #{syncSuccessFlag}
        </if>
        <if test="syncStatus == false">
            select count(1) - (select count(1) from et_empl_basic left join synchronization_record on et_empl_basic.zhrempl = synchronization_record.bussiness_id
            where synchronization_record.type = #{type} and synchronization_record.sync_status = #{syncSuccessFlag}) from et_empl_basic
        </if>
    </select>

    <select id="listBySyncStatus" resultType="com.wyd.zmhkmiddleware.business.model.local.po.EtEmplBasic">
        <if test="syncStatus == true">
            select et_empl_basic.* from et_empl_basic left join synchronization_record on et_empl_basic.zhrempl = synchronization_record.bussiness_id
            where synchronization_record.type = #{type} and synchronization_record.sync_status = #{syncSuccessFlag}
            order by et_empl_basic.zhrempl desc
            limit #{offset}, #{size}
        </if>
        <if test="syncStatus == false">
            select * from et_empl_basic
            where zhrempl not in
                  (select bussiness_id from synchronization_record
                  where type = #{type} and sync_status = #{syncSuccessFlag})
            order by zhrempl desc
            limit #{offset}, #{size}
        </if>
    </select>
    <select id="listSyncInfoDTO" resultType="com.wyd.zmhkmiddleware.business.model.local.dto.SyncInfoDTO">
        SELECT
            eb.zhrempl AS zhrempl,
            eb.zemplnm AS zemplnm,
            eb.zxb AS zxb,
            eb.gbdat AS gbdat,
            eb.zphoneno AS zphoneno,
            eb.ztelno AS ztelno,
            eb.zzjgj AS zzjgj,
            eb.zzjlx AS zzjlx,
            eb.zzjhm AS zzjhm,
            eb.zemail AS zemail,
            eb.zstas_e AS zstasE,
            ep.zhrpost AS zhrpost,
            ep.zzx AS zzx,
            ep.zstat_ps AS zstatPs,
            pb.zpostnam AS zpostnam,
            pb.zps_org AS zpsOrg,
            ob.zorgnm AS zorgnm,
            sr.sync_status as syncFlag
        FROM
            et_empl_basic eb
                LEFT JOIN et_empl_post ep ON eb.ZHREMPL = ep.ZHREMPL
                LEFT JOIN it_post_basic pb ON ep.ZHRPOST = pb.zhrpost
                LEFT JOIN it_org_basic ob ON pb.ZPS_ORG = ob.ZHRORG
                left join synchronization_record sr on (sr.bussiness_id = eb.ZHREMPL and sr.extend_2 = pb.zhrpost and pb.ZPS_ORG = sr.extend_3)
        <where>
            <if test="query.syncFlag != null and query.syncFlag != '' and query.syncFlag==1">
                    and sr.sync_status = #{query.syncFlag}
            </if>
            <if test="query.syncFlag != null and query.syncFlag != '' and query.syncFlag==0">
                    and sr.sync_status is null
            </if>
        </where>
        order by eb.zhrempl desc
        limit #{query.page}, #{query.limit}
    </select>
    <select id="countSyncInfoDTO" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
        et_empl_basic eb
        LEFT JOIN et_empl_post ep ON eb.ZHREMPL = ep.ZHREMPL
        LEFT JOIN it_post_basic pb ON ep.ZHRPOST = pb.zhrpost
        LEFT JOIN it_org_basic ob ON pb.ZPS_ORG = ob.ZHRORG
        left join synchronization_record sr on (sr.bussiness_id = eb.ZHREMPL and sr.extend_2 = pb.zhrpost and pb.ZPS_ORG = sr.extend_3)
        <where>
            <if test="query.syncFlag != null and query.syncFlag != '' and query.syncFlag==1">
                and sr.sync_status = #{query.syncFlag}
            </if>
            <if test="query.syncFlag != null and query.syncFlag != '' and query.syncFlag==0">
                and sr.sync_status is null
            </if>
        </where>
    </select>


</mapper>
