<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="c3p0.properties" />

    <!-- 开启驼峰命名自动映射-->

    <settings>
        <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--指定 MyBatis 增加到日志名称的前缀-->
        <setting name="logPrefix" value="log"/>
        <!--指定 MyBatis 所用日志的具体实现，未指定时将自动查找 STDOUT_LOGGING为 mybatis 自带日志
            SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING。 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--指定 Mybatis 创建具有延迟加载能力的对象所用到的代理工具。CGLIB | JAVASSIST-->
    </settings>

    <!--配置别名-->
    <typeAliases>
        <package name="com.jgdsun.ba.mybatis.entity"/>

        <!--
        <typeAlias type="com.jgdsun.astronomicalclock.mybatis.entity.Gprspassword" alias="Gprspassword"></typeAlias>
        <typeAlias type="com.jgdsun.astronomicalclock.mybatis.entity.Modinfos" alias="Modinfos"></typeAlias>
        <typeAlias type="com.jgdsun.astronomicalclock.mybatis.entity.PumpingStation" alias="PumpingStation"></typeAlias>
        -->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="com.jgdsun.ba.mybatis.datasource.C3P0DataSource">
                <property name="driverClass" value="${c3p0.driverClass}"/>
                <property name="jdbcUrl" value="${c3p0.jdbcUrl}"/>
                <property name="user" value="${c3p0.user}"/>
                <property name="password" value="${c3p0.password}"/>
                <property name="minPoolSize" value="${c3p0.minPoolSize}"/>
                <property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>
            </dataSource>
        </environment>
    </environments>




    <!-- 引入sql配置信息-->
    <mappers>
        <mapper resource="mapper/BaseBuildMapper.xml"/>
        <mapper resource="mapper/BaseStoreyMapper.xml"/>


        <mapper resource="mapper/TBaEquipmentTypeMapper.xml"/>
        <mapper resource="mapper/TBaMapper.xml"/>
        <mapper resource="mapper/TBaParameterMapper.xml"/>
        <mapper resource="mapper/TBaParameterDurationMapper.xml"/>
        <mapper resource="mapper/TBaParameterValueMapper.xml"/>




    </mappers>


</configuration>