<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgdsun.ba.mybatis.mapper.TBaParameterDurationMapper">

    <resultMap id="BaseResultMap" type="com.jgdsun.ba.mybatis.entity.TBaParameterDuration">
            <id property="id" column="ID" jdbcType="VARCHAR"/>
            <result property="parameterId" column="PARAMETER_ID" jdbcType="VARCHAR"/>
            <result property="begtime" column="BEGTIME" jdbcType="TIMESTAMP"/>
            <result property="endtime" column="ENDTIME" jdbcType="TIMESTAMP"/>
            <result property="duration" column="DURATION" jdbcType="INTEGER"/>
            <result property="value" column="VALUE" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PARAMETER_ID,BEGTIME,
        ENDTIME,DURATION,VALUE
    </sql>
</mapper>
